# Frontend
frontend/node_modules
frontend/dist
frontend/.vite
frontend/.env*.local

# Backend
backend/.gradle
backend/build
backend/.env
backend/src/main/resources/application.properties

# Backend PHP
backend-php/config.php
backend-php/config.production.php
backend-php/logs
backend-php/uploads
backend-php/vendor-manual

# IDE
.idea
.vscode
*.iml

# OS
.DS_Store
Thumbs.db

#Access Tokens
*.token